{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}KLAP: Climate Activism Argument Analysis.{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% trans "Argument analysis and mapping platform for climate activism" %}{% endblock %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static "css/h5bp.css" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}?v=3.2.7" />
    <link rel="stylesheet" href="{% static "css/climate_theme.css" %}" />
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link rel="image_src" type="image/png" href="https://arguman.org{% static "img/logo-large.png" %}" />
    <meta property="og:image" content="http://arguman.org{% static "img/logo-large.png" %}"/>
    <meta name="google-site-verification" content="g-YRAePbSzX5_eMCqQvkkYqecMlQNAIxhRXmeAKMmiQ" />
    {% block extra-meta %}{% endblock %}
</head>
<body{% block body-attrs %}{% endblock %}>
{% block header %}
<header class="container">
    {% if announcements.exists %}
    <ul class="announcements">
        {% for announcement in announcements %}
            <li><strong>{% trans "Announcement:" %} </strong> <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="logo">
        <a href="{% if user.is_anonymous %}/{% else %}{% url "newsfeed" %}{% endif %}">
            <span style="white-space: nowrap;">KLAP.</span>
            <img src="{% static "img/logo.png" %}" alt=""/></a>
    </div>
    <nav>
        <ul id="site-navigation">
            <li><a href="{% url "about" %}">{% trans "about" %}</a></li>
            <li><a class="new-argument-link" href="{% url "new_argument" %}">{% trans "new argument" %}</a></li>
            <li class="inline-search pull-right">
                <form action="{% url "contentions_search" %}">
                    <input type="search" name="keywords" id="keyword" placeholder="{% trans "search keywords" %}">
                </form>
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p>
            {% blocktrans trimmed %}
                <p>Climate Action Map is a free/libre software project.</p>
            {% endblocktrans %}
        </p>
        <p>
            <a href="mailto:contact@climateactionmap.org">contact@climateactionmap.org</a>
        </p>
    </div>
</footer>
{% endblock %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/class.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/hipo.infinity-scroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js?v=3.2.2" %}"></script>
{% block extra-scripts %}{% endblock %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55983865-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
